*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button, input, select, textarea{
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
  outline:none;
}

.upload-item{
  width: 80%;
  margin: 10px auto;
}

.upload-item>label{
  display: inline-block;
  width: 3em;
  text-align: right;
  margin-right: 10px;
}

.check-div{
  width: 60%;
  display: inline-flex;
  justify-content: space-between;
}
.check-div label.active{
  border: 1px solid red;
}
