
/* default style reset */
* {
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
}
/* default style reset end */


/* common class style */
.hide{
  display: none;
}

.root{
  height: 100%;
}

.container{
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.container .content{
  padding-top: 50px;

}

.btn{
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
}

.alert-view{
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
}

.alert-content{
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
}

/* common class style end */






/* top navigator */
.top-nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}


.top-nav .menu-icon{
  width: 20px;
  height: 20px;
  background-color: #000;
  position: relative;
}

.top-nav .menu-list{
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #666;
  background-color: #fff;
}

.menu-list li{
  height: 30px;
}
.menu-list li>a.active{
  color: #000;
}


.footer-list{
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}



/* 登录页面 SignPage */
.sign-box{
  width: 70%;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
}


/* 登录页面 SignPage end */


/* 上传页面 uploadPage */
.photos{
  height: 170px;
}

.btn-div .upload-tips{
  font-size: 12px;
  color: #666;
}

.btn-div .btn-box{
  position: relative;
  height: 60px;
}

.upload-img-btn,
.upload-photo
{
  width: 100px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.upload-img-btn{
  text-align: center;
  line-height: 50px;
  border: 1px solid #666;
}

.upload-photo{
  opacity: 0;
}
                                     
.photos-ul{
  height: 80px;
  font-size: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  background-color: #fff;
}

.photos-ul>li{
  height: 60px;
  width: 60px;
  padding: 5px;
}

.photos-ul>li img{
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
}